html {
    background-color: rgb(27, 24, 24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
}
.name{
    color: red;
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: 1px;
    
}

img {
    height: 97%;
    width: 97%
}

.district {
    color: red;
    margin-top: 4px;
    font-size: 1.7em;
    display: flex;
    justify-content: flex-start;
}

.affiliation {
    color: red;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.committees {
    color: red;
    font-size: 1.3em;
    margin-bottom: 2px;
}

.committees ul{
    list-style-type: none;
    color: red;
}

.comname {
    display: flex;
    font-size: 16px
}

.links {
    color: red;
    margin-bottom: 1px;
}

a {
    color: rgba(168, 8, 8, 0.849)
}
 

